section.slide
  h1 Javascript Brown Bag Session 1
section.slide
  h2 A brief history of javascript:
  ul
    li.slide The old days:
      img(src='Netscape1.jpg')
    li.slide And fun syntax:
      textarea.code(mode='javascript',runnable='true')
        (function(child, parent) {
          for (var key in parent) { if (__hasProp.call(parent, key)) child[key] = parent[key]; }
          function ctor() { this.constructor = child; }
          ctor.prototype = parent.prototype; child.prototype = new ctor; 
          child.__super__ = parent.prototype;
          return child; })(MyArray,Array);
section.slide
  h2 EcmaScript 
  img.slide(src='ecma-cloud.png')
section.slide
  h2 CommonJS
  ul
    li.slide Like the JCP for javascript
    li.slide Formalizes standards to progress javascript towards a platform
    li.slide Specifications for:
      ul
        li binary handling (datatypes, streams, etc)
        li filesystem apis
        li module/package system
        li unit testing
        li async/promises
        li ...
    li.slide Has achieved critical mass where most js tools implement at least the module system if not more
section.slide
  h2 Modern js engines
  ul
    li v8 (chrome)
    li spidermonkey (firefox)
    li rhino (mozilla's embeddable engine)
    li nitro (safari)
  img.slide(src='sunspider.png')
section.slide
  h2 Companies with a vested interest in making javascript better and faster
  ul.slide
    li Google
    li Apple
    li Microsoft
    li Yahoo
    li Mozilla
    li Exxon/Mobil
section.slide
  h2 NodeJS
    blockquote.slide NodeJS is evented IO for javascript
    blockquote.slide Everything in node is asynchronous except for your code
    ul.slide node:
      li.slide runs on an single-threaded event loop much like in the browser
      li.slide is built on v8 with native bindings
      li.slide supports CommonJS modules, and native extensions
      li.slide has core support for everything from http to file handling to unit testing
      li.slide has many great 3rd party packages (modules) and a nice system for managing them
section.slide
  h1 Actually never mind, javascript still sucks.
section.slide
  h1 We should use coffeescript instead.
     .slide ^_^
section.slide
  h2 Elevator speech
  blockquote.slide CoffeeScript is a little language that compiles into JavaScript.
section.slide
  h2 How coffeescript is better than javascript
  ul
    li.slide Less noise
      textarea.code(mode='coffeescript',runnable='true')
        for i in [1..10]
          @funcs.push = (param) => i + param
    li.slide vs
      textarea.code(mode='javascript',runnable='true')
        (function() {
          var i;
          var __bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };
          for (i = 1; i <= 10; i++) {
            this.funcs.push = __bind(function(param) {
              return i + param;
            }, this);
          }
        }).call(this);
section.slide
  h2 How coffeescript is better than javascript
  ul
    li.slide Looping and Comprehensions
      textarea.code
        customers =
          a: 'a@b.com'
          b: 'b@c.com'
          c: 'c@d.com'
        for id, email of customers
          console.log "\#{id}=\#{email}"

        evens = (x for x in [0..10] by 2)
    li.slide vs
      textarea.code
        (function() {
          var customers, email, evens, id, x;
          customers = {
            a: 'a@b.com',
            b: 'b@c.com',
            c: 'c@d.com'
          };
          for (id in customers) {
            email = customers[id];
            console.log("\#{id}=\#{email}");
          }
          evens = (function() {
            var _results;
            _results = [];
            for (x = 0; x <= 10; x += 2) {
              _results.push(x);
            }
            return _results;
          })();
        }).call(this);
section.slide
  h2 How coffeescript is better than javascript
  ul
    li.slide Englishification
      textarea.code
        volume = 10 if band isnt spinalTap and amp.working is yes
    li.slide Classes with inheritance and polymorphism!
      textarea.code
        class Animal
          constructor: (@species, @genus) ->
            initStuff()
          barks: => false

        class Dog extends Animal
          barks: => true
    li.slide Existentialism
      textarea.code
        zip ?= lottery?.drawWinner?().address?.zipcode
    li.slide Clean strings
      textarea.code
        console.log "This is a multiline string
          with a \#{variable} substitution in it,
          badass eh?"
    li.slide And a bunch more cool stuff, see 
      a(href='http://jashkenas.github.com/coffee-script/') http://jashkenas.github.com/coffee-script/

section.slide
  h2 Contrived example anyone?
  textarea.code
    exports.Food = class Food
      constructor: (@name) ->
      taste: => '?'

    exports.Fruit = class Fruit extends Food
      taste: => 'good'

    exports.Junk = class Junk extends Food
      taste: => 'bad'

    exports.eat = (food) =>
      console.log "tasting \#{food.name}"
      console.log '-chomp' if food.taste() isnt 'bad'
      console.log '-blech' if food.taste() isnt 'good'

    bowl =
      color: 'blue'
      contents: [
        new Fruit 'apple'
        new Fruit 'banana'
        new Junk  'donut'
        new Food  'brains']
    eat food for food in bowl.contents

section.slide
  h2 Contrived unit tests anyone?
  textarea.code
    vows                = require 'vows'
    assert              = require 'assert'
    {Food, Fruit, Junk} = require './food'

    suite = vows.describe 'Food Test Suite'
    suite.addBatch
      'when eating fruit':
        topic: -> new Fruit 'apple'
        'it tastes good': (topic) ->
          assert.equal topic.taste(), 'good'
      'when eating junk':
        topic: -> new Junk 'donut'
        'it tastes bad': (topic) ->
          assert.equal topic.taste(), 'bad'
      'when eating brains':
        topic: -> new Food 'brains'
        'i have no idea': (topic) ->
          assert.equal topic.taste(), '?'

    suite.run()
  ul.slide A quick vows primer
    li Vows is an asynchronous bdd test framework for node
    li You start with a *Suite*
    li Add *Batches* to it (which execute in parallel)
    li A *Batch* has 1 or many *Contexts*
    li A *Context* probably has a *Topic* (which is thing you throw asserts at)
    li A *Context* also has 1 or many *Vows* (which are functions that assert stuff on the topic)
